In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import mysql.connector
mydb=mysql.connector.connect(user='root',password='12345',database='testnovmar')
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM analytics")

# Fetch all results from the query
values = mycursor.fetchall()

# Iterate over the fetched rows and print each row
# for row in values:
#     print(row)
columns = [
    'id', 'R', 'Y', 'B',
    'N', 'timestamp', 'location', 'type',
    'parameter', 'unit', 'value', 'deviceTimestamp'
]

# Convert the fetched data into a DataFrame with the specified columns
df = pd.DataFrame(values, columns=columns)

# Show the DataFrame
n = df.copy()
# Converting column dtypes as per the request
# convert datetime to object
n[['id', 'R', 'Y', 'B','N', 'timestamp', 'location', 'type','parameter', 'unit', 'value', 'deviceTimestamp']] = n[['id', 'R', 'Y', 'B','N', 'timestamp', 'location', 'type','parameter', 'unit', 'value', 'deviceTimestamp']].apply(pd.to_numeric, errors='coerce')


n

,id,R,Y,B,N,timestamp,location,type,parameter,unit,value,deviceTimestamp
0,12113,232.0,230.0,232.0,3.0,1735827591000000000,NaN,NaN,NaN,NaN,NaN,NaN
1,12114,232.0,230.0,232.0,3.0,1735827591000000000,NaN,NaN,NaN,NaN,NaN,NaN
2,12115,232.0,230.0,232.0,3.0,1735827591000000000,NaN,NaN,NaN,NaN,NaN,NaN
3,12116,11.0,11.0,11.0,0.0,1735827591000000000,NaN,NaN,NaN,NaN,NaN,NaN
4,12117,428.0,565.0,601.0,0.0,1735827591000000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
221176,233289,11.0,11.0,11.0,0.0,1735905641000000000,NaN,NaN,NaN,NaN,NaN,NaN
221177,233290,633.0,600.0,744.0,0.0,1735905641000000000,NaN,NaN,NaN,NaN,NaN,NaN
221178,233291,633.0,600.0,744.0,0.0,1735905641000000000,NaN,NaN,NaN,NaN,NaN,NaN
221179,233292,633.0,600.0,744.0,0.0,1735905641000000000,NaN,NaN,NaN,NaN,NaN,NaN
221180,233293,12.0,12.0,14.0,0.0,1735905641000000000,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
n.isnull().sum()

id                      0
R                  176882
Y                  178701
B                  178753
N                  166112
timestamp               0
location           221181
type               221181
parameter          221181
unit               221181
value               58278
deviceTimestamp    221181
dtype: int64

In [4]:
df

,id,R,Y,B,N,timestamp,location,type,parameter,unit,value,deviceTimestamp
0,12113,232.00,230.00,232.00,3.00,2025-01-02 14:19:51,Madhu Vihar DT1,Transformer,Voltage,Volt,None,None
1,12114,232.00,230.00,232.00,3.00,2025-01-02 14:19:51,Madhu Vihar DT1,XFMR Outfeeder,Voltage,Volt,None,None
2,12115,232.00,230.00,232.00,3.00,2025-01-02 14:19:51,Madhu Vihar DT1,Main ACB,Voltage,Volt,None,None
3,12116,11.00,11.00,11.00,0.00,2025-01-02 14:19:51,Madhu Vihar DT1,XFMR Infeeder,Voltage,Volt,None,None
4,12117,428.00,565.00,601.00,0.00,2025-01-02 14:19:51,Madhu Vihar DT1,XFMR Outfeeder,Current,Ampere,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
221176,233289,11.00,11.00,11.00,0.00,2025-01-03 12:00:41,Madhu Vihar DT1,XFMR Infeeder,Voltage,Volt,None,None
221177,233290,633.00,600.00,744.00,0.00,2025-01-03 12:00:41,Madhu Vihar DT1,XFMR Outfeeder,Current,Ampere,None,None
221178,233291,633.00,600.00,744.00,0.00,2025-01-03 12:00:41,Madhu Vihar DT1,Main ACB,Current,Ampere,None,None
221179,233292,633.00,600.00,744.00,0.00,2025-01-03 12:00:41,Madhu Vihar DT1,Transformer,Current,Ampere,None,None
221180,233293,12.00,12.00,14.00,0.00,2025-01-03 12:00:41,Madhu Vihar DT1,XFMR Infeeder,Current,Ampere,None,None

In [6]:
df.dtypes

id                          int64
R                          object
Y                          object
B                          object
N                          object
timestamp          datetime64[ns]
location                   object
type                       object
parameter                  object
unit                       object
value                      object
deviceTimestamp            object
dtype: object

In [11]:
import pandas as pd
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import plotly.graph_objs as go

 # Convert timestamp to datetime if needed

# Initialize the Dash app
app = dash.Dash(__name__)

# Layout of the dashboard
app.layout = html.Div([
    html.H1("Madhu Vihar DT1 Voltage and Current Dashboard"),
    
    # Dropdown for selecting the parameter (Y, R, B, N)
    html.Label("Select Parameter:"),
    dcc.Dropdown(
        id='parameter-dropdown',
        options=[
            {'label': 'Y', 'value': 'Y'},
            {'label': 'R', 'value': 'R'},
            {'label': 'B', 'value': 'B'},
            {'label': 'N', 'value': 'N'}
        ],
        value='Y'
    ),
    
    # Date-time range picker
    html.Label("Select Date-Time Range:"),
    dcc.DatePickerRange(
        id='date-picker',
        start_date=df['timestamp'].min().date(),
        end_date=df['timestamp'].max().date(),
        display_format='YYYY-MM-DD'
    ),
    
    # Graph output
    dcc.Graph(id='time-series-graph')
])

# Callback for updating the graph
@app.callback(
    Output('time-series-graph', 'figure'),
    [Input('parameter-dropdown', 'value'),
     Input('date-picker', 'start_date'),
     Input('date-picker', 'end_date')]
)
def update_graph(selected_param, start_date, end_date):
    # Filter data by date range
    filtered_data = df[(df['timestamp'] >= start_date) & (df['timestamp'] <= end_date)]
    
    # Create the graph
    figure = go.Figure()
    figure.add_trace(go.Scatter(
        x=filtered_data['timestamp'],
        y=filtered_data[selected_param],
        mode='lines',
        name=selected_param
    ))
    
    figure.update_layout(
        title=f"{selected_param} vs Timestamp",
        xaxis_title="Timestamp",
        yaxis_title=selected_param,
        template="plotly_dark"
    )
    return figure

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True, port=9000)